/CK001HelaOsmo_20_cropped_comp_recon.tif
/CK001HelaOsmo_20_single.tif
/CK001HelaOsmo_20_single_croped.tif
/CK001HelaOsmo_20_single_croped_nonrect.tif
/CK001HelaLiveHypo07Confiner_38-39-40-41.tif
/CK001HelaLiveHypo07Confiner_76-77-78-79-82.tif
